body {
  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  /*color: #887E7E;*/
  color: #DCDCDC;
  text-shadow: 0 0 8px #D4D4D4;

  background-image: url('../images/laptop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile_info {
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.avatar {
  border-radius: 50px;
  height: 100px;
  width: 100px;

  display: block;
  margin: 0 auto;
}

.source_icon {
  height: 50px;
  width: 50px;
}

.name_and_title {
  text-align: center;
}

.caption {
  font-size: 10px;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: 0 0;
}